<div class="container-fluid">
  <div class="card">
  <div class="card-horizontal">
    <div class="img-square-wrapper d-flex flex-wrap align-items-center">
      <img
        class="card-img-left img-thumbnail"
        [src]="bookItem.coverimage ? bookItem.coverimage : defaultCover"
        alt="book thumbnail"
      />
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ bookItem.title }}</h4>
      <h5 class="card-title-secondary">{{ bookItem.subtitle }}</h5>
      <div class="card-subtitle">
        <h6 class="card-subtitle autors">{{ bookItem.authors }}</h6>
        <h6 class="card-subtitle pablisher">"{{ bookItem.pablisher }}"</h6>
        <h6 class="card-subtitle year">{{ bookItem.publisherdate }}</h6>
      </div>

      <p class="card-text" >{{ bookItem.descr | slice: 1:textlength}} ...</p>

    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary">Show Details</button>
    <a href="{{ bookItem.previewLink }}" target="_blank">Open priview</a>
    <input
      type="button"
      class="btn"
      [ngClass]="buttonColor"
      (click)="setLibraryFlag(bookItem.bookid)"
      [value]="buttonValue"
    />
  </div>
</div>

</div>
