<app-search-bar
  [navigationFunction]="dummy"
  (querySendingEvent)="receiveQuery($event)"
></app-search-bar>
<h5 class="alert alert-success">
  Your current search request is: {{ searchQuery }}
</h5>
<div *ngIf="books && !isInitialQueryEmpty">
  <div *ngFor="let book of books">
    <app-book-tile [bookItem]="book"></app-book-tile>
  </div>
</div>
<h5 class="alert alert-info">Recomended books</h5>
<div *ngIf="isInitialQueryEmpty">
  <div *ngFor="let book of books">
    <app-book-tile [bookItem]="book"></app-book-tile>
  </div>
</div>


