<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Book title"  [(ngModel)]="searchQuery">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)='showServerResult()'>
      <i class="bi bi-search"></i>
      Show Name</button>
  </div>
</div>
<h5>Your current search request is: {{searchQuery}}</h5>

<div *ngFor="let book of books">

  <app-book-tile [bookItem]='book'></app-book-tile>
</div>
<button class="btn btn-outline-secondary" type="button" (click)='showServerResult()'>Show books</button>
