<div class="container-fluid">
  <h5 class="alert alert-info">Books database</h5>
  <p class="aler alert-danger" *ngIf="succesMessage">{{succesMessage}}</p>
  <div class="row">
    <div class="col-4">

      <button class="btn btn-outline-danger" (click)="deleteAllData()">
        Delete all
      </button>
    </div>
    <div class="col-8">
          <select
            class="form-select"
            id="sorting"
            [(ngModel)]="sortoption"

          >
            <option  value='0' >--Sort the table--</option>
            <option value="id">Table Id</option>
            <option value="bookId">Book Id</option>
            <option value="searchword">Search Word</option>
            <option value="date">Time</option>
            <option value="favorite">Favorite</option>
          </select>

    </div>

  <div class="table-responsive" id="no-table" *ngIf="books">
    <table class="table table-light">
      <thead>
        <tr>
          <th>ID</th>
          <th>Book Id</th>
          <th>Title</th>
          <th>Query</th>
          <th>Dat&Time</th>
          <th>Favorite</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let book of books | sort: sortoption">
        <tr>
          <td data-title="ID">{{ book.id }}</td>
          <td data-title="Book Id">{{ book.bookid }}</td>
          <td data-title="Title">{{ book.title }}</td>
          <td data-title="Query">{{ book.searchword }}</td>
          <td data-title="Dat&Time">{{ book.tstamp | date: 'short'}}</td>
          <td data-title="Favorite">{{ book.favorite }}</td>
          <td>
            <button class="btn btn-outline-danger btn-sm"  (click)="deleteData(book.bookid)">
            Delete book
          </button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="!books" class="d-flex justify-content-center">
  <strong>Loading...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>
